<div class="sidebar-outer">
    <a class="logo d-flex align-items-center" *ngIf="settings.theme.sidebarIsFixed">
      <img src="assets/img/app/logoClient.png" height="50" width="150">
    </a>
    <app-vertical-menu [menuItems]="menuItems"></app-vertical-menu>
</div>
