<h2>Demande d'immatriculation</h2>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Ajout conjoint</h5>
            </div>
            <div class="card-body pt-0 widget-body">
                <form>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="input-3">ID Assuré (conjoint)</label>
                                <input type="text" class="form-control" id="input-3" [(ngModel)]="idAssuree" name="idAssuree">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                        <label for="name"> Téléphone : <small>(exemple : 241 79 70 00)</small></label>
                                        <input type="text" class="form-control" name="tel" [(ngModel)]="tel" pattern='(([+][(]?[0-9]{1,3}[)]?)|([(]?[0-9]{4}[)]?))\s*[)]?[-\s\.]?[(]?[0-9]{1,3}[)]?([-\s\.]?[0-9]{3})([-\s\.]?[0-9]{3,4})'>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="input-2">Nom</label>
                                <input type="text" class="form-control" id="input-2" [(ngModel)]="nom" name="nom">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="input-3">Prénom</label>
                                <input type="text" class="form-control" id="input-3" [(ngModel)]="prenom" name="prenom">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="input-12">Date de naissance</label>
                                <input type="date" class="form-control" value="" id="input-12" [(ngModel)]="naissance" name="naissance">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label for="input-2">Adresse</label>
                                    <input type="text" name="address" [(ngModel)]="address" class="form-control" id="input-2">
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="input-2">Numéro pièce d'identité</label>
                                <input type="text" class="form-control" id="input-2" [(ngModel)]="cni" name="cni">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="input-3">Fonction</label>
                                <input type="text" class="form-control" id="input-3" [(ngModel)]="fonction" name="fonction">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-lg-12 mb-4">
            <div widget class="card border-0 box-shadow">
                <div class="card-header transparent border-0 text-muted">
                    <h5 class="mb-0">Documents</h5>
                </div>
                <div class="card-body pt-0 widget-body">
                    <form>
                        <div class="form-group">
                            <div class="custom-controls-stacked">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input checkbox-circle" [(ngModel)]="anl" name="anl">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Acte de naissance légalisé *</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input checkbox-primary checkbox-circle" [(ngModel)]="am" name="am">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Acte de mariage</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-11 offset-sm-1 text-right">
                <button class="btn btn-primary" (click)="addConjoint()">Valider</button>
        </div>
</div>
