<div class="modal-header" style="background: #f19116 ;color: white">
  <h4 class="modal-title">Prise de décision</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="clear()">&times;
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
          <h5 class="mb-0">Données de l'assuré {{ nom }} {{ prenom }}</h5>
        </div>
        <div class="card-body pt-0 widget-body">
          <br/>
          <table style="width:100%">
            <tr>
              <th>Nom</th>
              <td>{{ assureChoosen.nom }}</td>
              <th>Prénom</th>
              <td>{{ assureChoosen.prenom }}</td>
            </tr>
            <tr>
              <th>Date de naissance</th>
              <td>{{ assureChoosen.dateNaissance }}</td>
              <th>Lieu de naissance</th>
              <td>{{ assureChoosen.lieuNaissance }}</td>
            </tr>
            <tr>
              <th>Sexe</th>
              <td>{{ assureChoosen.sexe }}</td>
              <th>Armée</th>
              <td>{{ assureChoosen.armee }}</td>
            </tr>
            <tr>
              <th>Entrée en service le</th>
              <td>{{ assureChoosen.dateEntreService }}</td>
              <th>Unité</th>
              <td>{{ assureChoosen.unite }}</td>
            </tr>
            <tr>
              <th>Grade</th>
              <td>{{ assureChoosen.grade }}</td>
              <th>Numéro de téléphone</th>
              <td>{{ assureChoosen.tel }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
          <h5 class="mb-0">Engagement</h5>
        </div>
        <div class="card-body pt-0 widget-body">
          <br/>
          <dx-data-grid id="gridContainer" #grid [dataSource]="dataSource" [showBorders]="true"
                        [rowAlternationEnabled]="true" [allowColumnReordering]="true"
                        [allowColumnResizing]="true" [columnMinWidth]="50" [hoverStateEnabled]="true"
                        columnResizingMode="widget">

            <dxi-column dataField="id" caption="ID" [width]="50"></dxi-column>
            <dxi-column dataField="mensualite" caption="Mensualité"></dxi-column>
            <dxi-column dataField="moisDus" caption="Mois dus"></dxi-column>
            <dxi-column dataField="total" caption="Total"></dxi-column>
            <dxi-column dataField="etat" caption="Etat de la souscription"></dxi-column>
          </dx-data-grid>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
          <h5 class="mb-0">Données de la demande</h5>
        </div>
        <div class="card-body pt-0 widget-body">
          <br/>
          <table style="width:100%">


            <tr>
              <th>ID de la demande</th>
              <td>{{ data.id }}</td>
              <th>Type d'apport</th>
              <td>{{ data.typeApport }}</td>
            </tr>
            <tr>
              <th>Date de la demande</th>
              <td>{{ data.datedemande }}</td>
              <th>Montant demandé</th>
              <td>{{ data.montantDemande }}</td>
            </tr>
            <tr>
              <th>Durée de remboursement</th>
              <td>{{ data.dureeRemboursement }}</td>
              <th>Motif de la demande</th>
              <td>{{ data.motifDemande }}</td>
            </tr>
            <tr>
              <th>Type de prêt</th>
              <td>{{ data.typePret }}</td>
              <th>Net à payer sans engagement</th>
              <td>{{ data.netApayerSansEngagement }}</td>
            </tr>
            <tr>
              <th>Type de rachat</th>
              <td>{{ data.typeRachat }}</td>
              <th>Méthode calcule</th>
              <td>{{data.methodeCalculeMontantRachat}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <form #ff="ngForm">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div widget class="card border-0 box-shadow">
          <div class="card-header transparent border-0 text-muted">
            <h5 class="mb-0">Décision</h5>
          </div>
          <div class="card-body pt-0 widget-body">
            <br/>

            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="decision">Décision</label>
                  <select class="form-control" id="decision" name="decision" [(ngModel)]="data.decision" required
                          [disabled]="validation">
                    <option>Acceptée</option>
                    <option>Refusée</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <div class="form-group">
                    <label for="motifDecision">Motif de la décision</label>
                    <textarea class="form-control" id="motifDecision" name="motifDecision"
                              [(ngModel)]="data.motifDecision" required [disabled]="validation"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="data.decision == 'Acceptée'">


      <div class="col-lg-12 mb-4">
        <div widget class="card border-0 box-shadow">
          <div class="card-header transparent border-0 text-muted">
            <h5  *ngIf="!validation" class="mb-0">Nouveau crédit</h5>
            <h5 *ngIf="validation">Numéro crédit: {{this.credit.id}} </h5>
          </div>
          <div class="card-body pt-0 widget-body">
            <br/>


            <!--      private String numSouscription;//Numéro de demande
      private String mensualite;
      private Integer moisDus;
      private String total;//montant accordé
      private String etat;
      @NotNull
      @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy/MM")
      private Calendar dateDebutRembourcement;-->

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="montantAccorde">Montant accordé </label>
                    <input type="number" class="form-control" id="montantAccorde" name="montantAccorde" required [(ngModel)]="credit.total" [disabled]="validation">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="form-group">
                    <label for="dateDebutRembourcement">Date Debut Rembourcement</label>
                    <input type="date" class="form-control" id="dateDebutRembourcement" name="dateDebutRembourcement" [(ngModel)]="credit.dateDebutRembourcement" [disabled]="validation" required>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="motifDecision">Mois Dus</label>
                      <input type="number" class="form-control" id="moisDus" name="moisDus" [(ngModel)]="credit.moisDus" [disabled]="validation" required>
                    </div>
                  </div>
                </div>
              </div>



          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer" *ngIf="!validation">
  <button type="submit" class="btn btn-danger" (click)="updateDemande()" [disabled]="!ff.form.valid">
    <span class="fa fa-check"></span>&nbsp;<span>Valider la demande</span>
  </button>
</div>
