<div class="row mb-4">
  <div class="col">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Liste des demandes</h5>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <!--<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>-->
        </div>
      </div>
      <div class="card-body pt-0 widget-body">


        <dx-data-grid id="gridContainer" #grid [dataSource]="dataSource" [showBorders]="true"
                      [rowAlternationEnabled]="true" [allowColumnReordering]="true"
                      [allowColumnResizing]="true" [columnMinWidth]="50" [hoverStateEnabled]="true"
                      columnResizingMode="widget" (onToolbarPreparing)="onToolbarPreparing($event)">


          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-export [enabled]="true" fileName="Liste des demandes"></dxo-export>

          <dxi-column dataField="id" caption="ID" [width]="50"></dxi-column>
          <dxi-column dataField="datedemande" caption="Date de la demande" dataType="date" format="dd/MM/yyyy" [width]="100"></dxi-column>
          <dxi-column dataField="motifDemande" caption="Motif"></dxi-column>
          <dxi-column dataField="typePret" caption="Type de prêt"></dxi-column>
          <dxi-column dataField="montantDemande" caption="Montant" dataType="number" alignment="right"></dxi-column>
          <dxi-column dataField="dureeRemboursement" caption="Durée de remboursement" dataType="number" alignment="right"></dxi-column>
          <dxi-column dataField="typeRachat" caption="Type de rachat"></dxi-column>
          <dxi-column dataField="Actions" [allowFiltering]="false" [allowHeaderFiltering]="false"
                      [allowFiltering]="false" [allowSorting]="false"
                      cellTemplate="cemplate" alignment="center" [width]="70"></dxi-column>


          <div *dxTemplate="let data of 'cemplate'">
            <i class="fa fa-cog" title="Modifier" data-toggle="tooltip" (click)="openModalValidate(data.data)"></i>
          </div>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
          </dxo-pager>
          <dxo-sorting mode="multiple"></dxo-sorting>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Rechercher..."></dxo-search-panel>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
