<form name="deleteForm" (ngSubmit)="verifierDemande(data)">
        <div class="modal-header" style="background: #f05423 ;color: white">
          <h4 class="modal-title">Consultation de l'assuré</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div widget class="card border-0 box-shadow">
                                <div class="card-header transparent border-0 text-muted">
                                    <h5 class="mb-0">Données de l'assuré [ ID : {{ idAssuree }} ]</h5>
                                </div>
                                <div class="card-body pt-0 widget-body">
                                    <br/>
                                      <table style="width:100%">
                                              <tr>
                                                  <th>Nom</th>
                                                  <td>{{ nom }}</td>
                                                  <th>Prénom</th>
                                                  <td>{{ prenom }}</td>
                                              </tr>
                                              <tr>
                                                  <th>Date de naissance</th>
                                                  <td>{{ naissance }}</td>
                                                  <th>Téléphone</th>
                                                  <td>{{ tel }}</td>
                                              </tr>
                                  
                                           </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div widget class="card border-0 box-shadow">
                                    <div class="card-header transparent border-0 text-muted">
                                        <h5 class="mb-0">Documents</h5>
                                    </div>
                                    <div class="card-body pt-0 widget-body">
                                        <br/>
                                          <table style="width:100%">
                                                  <tr>
                                                      <td style="width:10%">
                                                          <input id="anl" type="checkbox" disabled *ngIf="anl" checked />
                                                          <input id="anl" type="checkbox" disabled *ngIf="!anl"  />
                                                      </td>
                                                      <th>Acte de naissance légalisé</th>
                                                      <td style="width:10%">
                                                          <input id="oa" type="checkbox" disabled *ngIf="oa" checked />
                                                          <input id="oa" type="checkbox" disabled *ngIf="!oa"  />
                                                      </td>
                                                      <th>L’ordonnance d’adoption, pour les enfants adoptés
                                                        </th>
                                                  </tr>
                                                  <tr>
                                                      <td style="width:10%">
                                                          <input id="bas" type="checkbox" disabled *ngIf="bas" checked />
                                                          <input id="bas" type="checkbox" disabled *ngIf="!bas"  />
                                                      </td>
                                                      <th>Bulletin ou attestation de scolarité, pour les enfants de plus de 15 ans
                                                        </th>
                                                  </tr>
                                                  
                                               </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">
              <span class="fa fa-check"></span>&nbsp;<span>Valider</span>
            </button>
          </div>
      </form>