<form name="deleteForm" (ngSubmit)="verifierDemande(data)">
  <div class="modal-header" style="background: #f19116 ;color: white">
    <h4 class="modal-title">Echéancier N° {{data.num}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div widget class="card border-0 box-shadow">
          <div class="card-header transparent border-0 text-muted">
            <h5 class="mb-0">Données de l'échéancier</h5>
          </div>
          <div class="card-body pt-0 widget-body">
            <br/>
            <table style="width:100%">
              <tr>
                <th>ID</th>
                <td>{{ data.id}}</td>
                <th>N°</th>
                <td>{{ data.num }}</td>
              </tr>
              <tr>
                <th>Date Echéance</th>
                <td>{{ data.dateEcheance }}</td>
                <th>Montant remboursement</th>
                <td>{{ data.montantRemboursement }}</td>
              </tr>
              <tr>
                <th>Mensualité</th>
                <td>{{ data.mensualite }}</td>
                <th>Mois dus</th>
                <td>{{ data.credit.moisDus }}</td>
              </tr>
              <tr>
                <th>Total</th>
                <td>{{ data.credit.total }}</td>
                <th>N° Souscription</th>
                <td>{{ data.credit.numSouscription }}</td>
              </tr>
              <tr>
                <th>Etat</th>
                <td>{{ data.etat }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div widget class="card border-0 box-shadow">
          <div class="card-header transparent border-0 text-muted">
            <h5 class="mb-0">Etat</h5>
          </div>
          <div class="card-body pt-0 widget-body">
            <br/>
            <form #ff="ngForm">

              <div *ngIf="data.etat==='Attent paiement'">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <div class="form-group">
                      <label for="exampleSelect1">Etat</label>
                      <!--<select class="form-control" id="exampleSelect1" name="exampleSelect1" [(ngModel)]="data.etat">-->
                      <!--<option>Rembourcement effectué</option>-->
                      <!--<option>Attent paiement</option>-->
                      <!--</select>-->

                      <ng-select name="exampleSelect1" [(ngModel)]="etat" [items]="items">
                        <!--<ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled" >{{car.name}}</ng-option>-->


                      </ng-select>


                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="form-group">
                      <div class="form-group">
                        <label for="input-2">Motif</label>
                        <input type="text" class="form-control" id="input-2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div *ngIf="data.etat==='Rembourcement effectué'">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <div class="form-group">
                      <!--<select class="form-control" id="exampleSelect1" name="exampleSelect1" [(ngModel)]="data.etat">-->
                      <!--<option>Rembourcement effectué</option>-->
                      <!--<option>Attent paiement</option>-->
                      <!--</select>-->
                      Rembourcement effectué



                    </div>
                  </div>
                </div>
              </div>



            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="data.etat==='Attent paiement'">
    <button type="submit" class="btn btn-danger" (click)="updateEchancier()" [disabled]="etat!=='Rembourcement effectué'">
      <span class="fa fa-check"></span>&nbsp;<span>Valider</span>
    </button>
  </div>
</form>
