<div class="modal-header" style="background: #f19116 ;color: white">
  <h4 class="modal-title">Nouvel assuré</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-3 ml-0">
      <app-image-uploader></app-image-uploader>
    </div>
    <div class="col-lg-9 mb-4">
      <div widget class="card border-0 box-shadow">
        <div class="card-body pt-0 widget-body">
          <form #f="ngForm">
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="input-1">Nom</label>
                  <input type="text" class="form-control" id="input-1" name="nom" [(ngModel)]="assure.nom">
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <div class="form-group">
                    <label for="input-2">Prénom</label>
                    <input type="text" class="form-control" id="input-2" name="prenom" [(ngModel)]="assure.prenom">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="input-1">Matricule</label>
                  <input type="text" class="form-control" id="input-3" name="matricule" [(ngModel)]="assure.matricule">
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <div class="form-group">
                    <label for="sexe">Sexe</label>
                    <select class="form-control" id="sexe" name="sexe" [(ngModel)]="assure.sexe">
                      <option>Homme</option>
                      <option>Femme</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="dateNaissance">Date de naissance</label>
                  <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" [(ngModel)]="assure.dateNaissance">
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="lieuNaissance">Lieu de naissance</label>
                  <input type="text" class="form-control" id="lieuNaissance" name="lieuNaissance" [(ngModel)]="assure.lieuNaissance">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="armee">Armée</label>
                  <select class="form-control" id="armee" name="armee" [(ngModel)]="assure.armee">
                    <option>Terre</option>
                    <option>Air</option>
                    <option>Marine nationale</option>
                    <option>Gendarmerie nationale</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="dateEntreService">Entrée en service le</label>
                  <input type="date" class="form-control" id="dateEntreService" name="dateEntreService" [(ngModel)]="assure.dateEntreService">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="unite">Unité</label>
                  <input type="text" class="form-control" id="unite" name="unite" [(ngModel)]="assure.unite">
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="form-group">
                  <label for="Grade">Grade</label>
                  <input type="text" class="form-control" id="Grade" name="Grade" [(ngModel)]="assure.grade">
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-lg-6 mb-4">
                <label for="unite">Numéro de téléphone</label>
                <input type="text" class="form-control" id="tel" name="tel" [(ngModel)]="assure.tel">
              </div>
              <div class="col-lg-6 mb-4">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-danger" (click)="addAssuer()">
    <span class="fa fa-plus"></span>&nbsp;
    <span>Ajouter</span>
  </button>
</div>
