/deep/ .options {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}
/deep/ .caption {
  font-size: 18px;
  font-weight: 500;
}
/deep/ .option {
  margin-top: 10px;
}
.file-upload{
  .file-upload-btn{
    position: absolute;
    width: 100%;
    height: 35px;
    z-index: 9;
    opacity: 0;
  }
  .delete-file{
    position: absolute;
    right: 50px;
    top: 8px;
    font-size: 16px;
    opacity: .8;
    cursor: pointer;
    z-index: 99;
    visibility: hidden;
  }
  &:hover .delete-file{
    visibility: visible;
  }
}


.pixel {
  vertical-align: -10px;
}
